table#history th, table#history td {
  border: 1px solid white;
  border-collapse: collapse;
}
table#history th, table#history td {
  background-color: #96D4D4;
}
table#history tr.success td {
  background-color: #ffff1a;
}

table#history td.error {
  background-color: red;
}

#calculator p { display: inline }